.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

.dropdown:hover .dropdown-menu {
  display: block;
}



.slider {
  width: 100%;
  height: 80%;
  background-color: darkgray;
}

.foto-slide {
  height: 100px;
  width: 100%;
}

.slide {
  height: 700px;
  margin-top: 0px;
}

.separator {
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  height: 1px;
  background-color: #333333;
}

.list-data{
  font-size: small;
  margin-bottom: 0px;
}

.list-data p{
  padding-bottom: 10px;
}

.img-first {
  max-width: 60%;
}

.form-control {
  border-radius: 0px;

}

.cont-icon {
  max-width: 30px;
}

.cont-icon2{
  max-width: 25px;
}

.cont-icon3{
  max-width: 22px;
}


.background-cont {
  padding-top: 50px;
  padding-bottom: 30px;
  width: 500px;
}

.data-location {
  max-width: 50%;
  margin-left: 50px;
}

.contact-form {
  max-width: 50%;
}
/*.footer {*/
/*background-color: azure;*/

/*width: 100%;*/
/*height: 100px;*/

/*}*/

.icon {
  max-width: 1.1%;
  min-width: 15px;
  margin-left: 10px;
}


.sicial-nav p {
  font-family: 'Roboto', sans-serif;
  color: aliceblue;
  height: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #333;
  padding-bottom: 28px;
  padding-top: 10px;
  text-align: center;
  font-size: smaller;

}

.sicial-nav{

}

.sicial-nav {

}

.navbar-default .navbar-nav > li > a {
  color: black;
}

.navbar {
  margin-bottom: 0px;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

hr {
  margin-top: 0px;
  margin-bottom: 0px;

}




.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{

  /*background-color: lightgrey;*/
  text-align: center;
  /*border: dashed;*/
}

.navbar-default {
  border-radius: 1px;
}



.welcome-logo {
  min-width: 30px;
  min-height: 30px;

}


.navbar-inverse {
  background-color: white;
  border-color: inherit;
  background-image: inherit;
  border-radius: inherit;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {

  color: black;
  background-color: white;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .active > a {
  background-image: inherit;
  box-shadow: none;
  -webkit-box-shadow: none;
}




.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a:hover {
  color: #333333;
}

#level-up {
  float: right;
}

.img-float {
  float: left;
  max-width: 350px;
  margin-left: 0px;

}




.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: white;
  background-color: white;
}



@media screen and (max-width: 768px) {

  .dropdown:hover .dropdown-menu {
    display: none;
  }
}

.dropdown-menu li:hover .sub-menu {
  visibility: hidden;
}
















/*.App {*/
/*text-align: center;*/
/*}*/

/*.App-logo {*/
/*animation: App-logo-spin infinite 20s linear;*/
/*height: 80px;*/
/*}*/

/*.App-header {*/
/*background-color: #222;*/
/*height: 150px;*/
/*padding: 20px;*/
/*color: white;*/
/*}*/

/*.App-intro {*/
/*font-size: large;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*from { transform: rotate(0deg); }*/
/*to { transform: rotate(360deg); }*/
/*}*/
